{% extends 'base.html.twig' %}

{% block title %}Réservation de l'annonce
    {{annonce.title}}!
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Réservation de  l'annonce:
            {{annonce.title}}</h1>
        <p>Vous êtes sur le point de réserver ce vehicule de
            <strong>{{ annonce.auteur.fullName}}
                , dites nous tout, on s'occupe du reste
            </strong>
        </p>

        {{form_start(form)}}

        <div class="alert alert-light">
            <h2>Donnez nous les dates qui vous interessent
            </h2>

            <div class="row">
                {{form_row(form.startDate)}}
            
            <div class="col">
                {{form_row(form.endDate)}}
            </div>
        </div>
</div>
        <h4>Montant de la location : <span id="amount"></span>&euro;</h4>
            <span id="days">0</span> jour(s) à {{ annonce.prix }} &euro;/  jour

            <h2>Vous avez un commentaire ?</h2>
                {{ form_row(form.commentaire)}}

                <h2>Vous avez terminé !</h2>

                <button type="submit" class="btn btn-success">Je réserve !</button>

        {{form_end(form)}}

    </div>
{% endblock %}



